BOT_TOKEN=8569507971:AAH4QcI6QobRW04D74j2jF18-C_C-4o2wVc 
GEMINI_KEY=AIzaSyB4oeCafLQUDh_mGwv-LdAXa4hhxZ7m02w
DEEPSEEK_KEY=sk-570dbce675f34f878bf0d562250ba028
ADMIN_ID=998518305
ADMIN_API_TOKEN=change-this-to-a-strong-secret
ADMIN_LOGIN=admin
ADMIN_PASSWORD=password
SOFPAY_SHOP_KEY=sk_898fb28b88ec05652d7b9dd9e494aa6d
# Optional custom API port (default: 8000)
PORT=8000
